In [52]:
import pandas as pd
import json

In [53]:
credits = pd.read_csv('data/tmdb_5000_credits.csv')

In [54]:
movies = pd.read_csv('data/tmdb_5000_movies.csv')

In [55]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [56]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [57]:
movies.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [58]:
# String tipinde olduğu için key, value değerlerine ulaşamıyoruz.
movies.iloc[0]['genres'][0]['name']

TypeError: string indices must be integers

In [59]:
# json objesi olarak düzenleyelim.
movies['genres']=movies['genres'].apply(json.loads)

In [60]:
# artık key ve value değerlerine erişebileceğiz.
movies.iloc[0]['genres'][0]['name']

'Action'

In [61]:
# Dataframe icerisindeki belirli bir indexteki json değerlerine erişme
[name for name in movies.iloc[0]['genres']]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [47]:
# Jsonu dictionary olarak düşünebiliriz, burada key değeri belirterek value'lara erişebiliyoruz.
[name['name'] for name in movies.iloc[0]['genres']]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [48]:
# ilgili gözlem birimini JSON yapısındaki name değerleri ile değiştirme. 
# NOT: Bu işlem sadece 0. index için geçerli, index numarasını iteratif olarak birazdan değiştirerek, tüm dataframe için uyarlayacağız.
movies.loc[0, 'genres'] = str([name['name'] for name in movies.iloc[0]['genres']])

In [49]:
movies.iloc[0]['genres']

"['Action', 'Adventure', 'Fantasy', 'Science Fiction']"

In [149]:
def data_preparation(dataframe, column_list):
    
    for column in column_list:
        dataframe[column]=dataframe[column].apply(json.loads)
        for index,i in dataframe.iterrows():
            column_list_part = [partition['name'] for partition in i[column]]    
            dataframe.loc[index, column] = str(column_list_part)

In [150]:
column_list = ['genres', 'keywords', 'spoken_languages']

In [151]:
data_preparation(movies, ['genres', 'keywords', 'spoken_languages'])

In [152]:
data_preparation(credits, ['cast'])

In [153]:
credits['crew']=credits['crew'].apply(json.loads)

In [160]:
credits.iloc[0]['crew'][0:2]

[{'credit_id': '52fe48009251416c750aca23',
  'department': 'Editing',
  'gender': 0,
  'id': 1721,
  'job': 'Editor',
  'name': 'Stephen E. Rivkin'},
 {'credit_id': '539c47ecc3a36810e3001f87',
  'department': 'Art',
  'gender': 2,
  'id': 496,
  'job': 'Production Design',
  'name': 'Rick Carter'}]

In [161]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
        
credits['crew']=credits['crew'].apply(get_director)

In [162]:
credits.rename(columns={'crew':'director'},inplace=True)

In [166]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",http://www.avatarmovie.com/,19995,"['culture clash', 'future', 'space war', 'spac...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"['English', 'Español']",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [167]:
credits.head(1)

,movie_id,title,cast,director
0,19995,Avatar,"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",James Cameron

In [168]:
movies=movies.merge(credits,left_on='id',right_on='movie_id',how='left')

In [169]:
df = movies[['id','original_title','overview','genres','cast','vote_average','director','keywords']]

In [110]:
df['tags'] = df['overview'] + df['genres'] + df['keywords'] + df['cast'] + df['director']

/var/folders/74/r8_061ks28x7yh15w8qz1x780000gn/T/ipykernel_17305/1217189100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['overview'] + df['genres'] + df['keywords'] + df['cast'] + df['director']

In [112]:
final_data = df[['id', 'original_title', 'tags']]

In [117]:
final_data.dropna(inplace=True)

/var/folders/74/r8_061ks28x7yh15w8qz1x780000gn/T/ipykernel_17305/325702340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data.dropna(inplace=True)

In [133]:
#################################
# TF-IDF'in Problemimiz için Elde Edilmesi
#################################

tfidf = TfidfVectorizer(stop_words='english')
final_data['tags'] = final_data['tags'].fillna('')
tfidf_matrix = tfidf.fit_transform(final_data['tags'])
tfidf_matrix.shape

#################################
# 2. Cosine Similarity Matrisinin Oluşturulması
#################################


cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

cosine_sim.shape

cosine_sim[1]

/var/folders/74/r8_061ks28x7yh15w8qz1x780000gn/T/ipykernel_17305/1984166936.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['tags'] = final_data['tags'].fillna('')

array([0.018469  , 1.        , 0.0156981 , ..., 0.01122969, 0.00262785,
       0.00214137])

In [138]:
#################################
# 4. Çalışma Scriptinin Hazırlanması
#################################

def content_based_recommender(title, cosine_sim, dataframe):
    # index'leri olusturma
    indices = pd.Series(dataframe.index, index=dataframe['original_title'])
    indices = indices[~indices.index.duplicated(keep='last')]
    # title'ın index'ini yakalama
    movie_index = indices[title]
    # title'a gore benzerlik skorlarını hesapalama
    similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=["score"])
    # kendisi haric ilk 10 filmi getirme
    movie_indices = similarity_scores.sort_values("score", ascending=False)[1:11].index
    return dataframe['original_title'].iloc[movie_indices]

In [139]:
content_based_recommender("Sherlock Holmes", cosine_sim, final_data)

205            Sherlock Holmes: A Game of Shadows
2346                        Young Sherlock Holmes
113     Harry Potter and the Order of the Phoenix
65                                The Dark Knight
4216                 Mr. Smith Goes to Washington
1830                                   Ride Along
2709                                   Mr. Turner
883                           Catch Me If You Can
158                                     Star Trek
114           Harry Potter and the Goblet of Fire
Name: original_title, dtype: object

In [141]:
import pickle

In [142]:
pickle.dump(final_data,open('movie_list.pkl','wb'))
pickle.dump(cosine_sim,open('similarity.pkl','wb'))

In [ ]:
def recommend(movie):
    index = movies[movies['original_title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    recommended_movie_names = []
    recommended_movie_posters = []
    for i in distances[1:6]:
        # fetch the movie poster
        movie_id = movies.iloc[i[0]].id
        recommended_movie_posters.append(fetch_poster(movie_id))
        recommended_movie_names.append(movies.iloc[i[0]].original_title)

    return recommended_movie_names, recommended_movie_posters

In [177]:
index = movies[movies['original_title'] == 'Avatar'].index[0]

In [178]:
distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])

In [176]:
movies = final_data.copy()

In [181]:
indices = pd.Series(movies.index, index=movies['original_title'])
indices = indices[~indices.index.duplicated(keep='last')]

In [185]:
similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=["score"])

In [198]:
movie_indices = similarity_scores.sort_values("score", ascending=False)[1:6].index

In [200]:
movie_indices

Int64Index([2403, 838, 305, 3157, 1531], dtype='int64')

In [226]:
def fetch_poster(movie_id):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={API}&language=en-US"
    data = requests.get(url)
    data = data.json()
    poster_path = data['poster_path']
    full_path = "https://image.tmdb.org/t/p/w500/" + poster_path
    return full_path

In [244]:
def content_based_recommender(title, cosine_sim, dataframe):
    # index'leri olusturma
    indices = pd.Series(dataframe.index, index=dataframe['original_title'])
    indices = indices[~indices.index.duplicated(keep='last')]
    # title'ın index'ini yakalama
    movie_index = indices[title]
    # title'a gore benzerlik skorlarını hesapalama
    similarity_scores = pd.DataFrame(cosine_sim[movie_index], columns=["score"])
    # kendisi haric ilk 10 filmi getirme
    movie_indices = similarity_scores.sort_values("score", ascending=False)[1:6].index

    movie_names = []
    movie_posters = []

    for i in movie_indices[0:6]:
        # fetch the movie poster
        movie_id = dataframe.iloc[i].id
        movie_posters.append(fetch_poster(movie_id))
        movie_names.append(movies.iloc[i]['original_title'])

    return movie_names, movie_posters

In [245]:
content_based_recommender('Avatar', cosine_sim, movies)

(['Aliens', 'Alien³', 'Treasure Planet', 'Alien', 'Moonraker'],
 ['https://image.tmdb.org/t/p/w500//r1x5JGpyqZU8PYhbs4UcrO1Xb6x.jpg',
  'https://image.tmdb.org/t/p/w500//hlabk6APJUeihZDaSD9N6iI0f4g.jpg',
  'https://image.tmdb.org/t/p/w500//zMKatZ0c0NCoKzfizaCzVUcbKMf.jpg',
  'https://image.tmdb.org/t/p/w500//vfrQk5IPloGg1v9Rzbh2Eg3VGyM.jpg',
  'https://image.tmdb.org/t/p/w500//6LrJdXNmu5uHOVALZxVYd44Lva0.jpg'])

In [210]:
from dotenv import load_dotenv
import os
import requests
load_dotenv()
API = os.getenv('MOVIE_API')

In [235]:
def recommend(movie):
    index = movies[movies['original_title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    recommended_movie_names = []
    recommended_movie_posters = []
    for i in distances[1:6]:
        # fetch the movie poster
        movie_id = movies.iloc[i[0]].id
        recommended_movie_posters.append(fetch_poster(movie_id))
        recommended_movie_names.append(movies.iloc[i[0]].original_title)

    return recommended_movie_names, recommended_movie_posters

In [237]:
recommend('The Godfather')

(['Desert Dancer',
  'Take the Lead',
  'Center Stage',
  'Step Up 2: The Streets',
  "Dancin' It's On"],
 ['https://image.tmdb.org/t/p/w500//uV1GYM2gdit0SnNWAweG321evbg.jpg',
  'https://image.tmdb.org/t/p/w500//vkGSs0eeOOISEe9jddBZnRSkn46.jpg',
  'https://image.tmdb.org/t/p/w500//95Et0t08Nv6S8FD593HpXyvcRt8.jpg',
  'https://image.tmdb.org/t/p/w500//wGCRkvgoVRML29w2XWOdRbMJh5Q.jpg',
  'https://image.tmdb.org/t/p/w500//vSJ7W4RVTjN5QePdfFqnZuoTeaB.jpg'])

In [239]:
content_based_recommender('Spider-Man 3', cosine_sim, movies)

30                    Spider-Man 2
159                     Spider-Man
1216              Music and Lyrics
1534                 Arachnophobia
37      Oz: The Great and Powerful
Name: original_title, dtype: object